<!doctype html>

{% load static %}

<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- 구글 머티리얼 아이콘 불러오기 -->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- jquery 사용하기 위해 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>outstargram</title>
</head>

<body>



  

  <!-- 상단 내비게이션 바 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;height: 50px;position: fixed;" >
    <div class="container">
      <img style="height: 30px; object-fit: contain" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
      <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
      <div>
        <span class="material-icons">home</span>
        <span class="material-icons">send</span>
        <span id="add_feed" class="material-icons-outlined">add_box</span>
        <span class="material-icons-outlined">explore</span>
        <span class="material-icons-outlined">favorite_border</span>
      </div>
    </div>
  </nav>

  <!-- 바디 영역 -->

  <!-- 메인 화면 -->
  <div class="main_body">
    <div class="left_body">
      {% for feed in feed_list %}
      <div class="border feed_box">
        <div class="feed_name">
          <div class="profile_box">
            <img class="profile_img" src="{{ feed.profile_image }}">
          </div>
          <span class="feed_name_txt"> {{ feed.user_id }} </span>
        </div>
        <img class="feed_img" src="{% get_media_prefix %}{{ feed.image }}">
        <div class="feed_icon">
          <div>
            <span class="material-icons-outlined">
              favorite_border
            </span>
            <span class="material-icons-outlined">
              mode_comment
            </span>
            <span class="material-icons-outlined">
              send
            </span>
          </div>
          <div>
            <span class="material-icons-outlined">
              turned_in_not
            </span>
          </div>
        </div>
        <div class="feed_like">
          <p class="feed_txt"> <b>좋아요 {{ feed.like_count }}개</b></p>
        </div>
        <div class="feed_content">
          <p class="feed_txt"> <b> {{ feed.user_id }} </b> {{ feed.content }}</p>
        </div>
        <div class="feed_reply">
          <span class="feed_txt"> <b> mychew </b> 제주도 가고 싶어요 ㅠㅠ</span>
          <span class="feed_txt"> <b> cho </b> 제주도  ㄱ ㄱ </span>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- 오른쪽 이웃 추천 -->
    <div class="right_body">
      <div class="feed_name" style="justify-content: space-between">
        <div style="display: flex; align-items: center; ">
          <div class="big_profile_box">
            <img class="profile_img" src="http://blog.jinbo.net/attach/615/200937431.jpg">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> jin.99 </span>
            <span class="name_content_txt"> Moon Kyujin</span>
          </div>
        </div>
  
        <a class="link_txt" >
          전환
        </a>
      </div>
  
      <div class="recommend_box">
        <span style="color: gray"> 회원님을 위한 추천</span>
        <a href="#" style="font-size: 12px; font-weight: bold; color: black; text-decoration: none;"> 모두 보기 </a>
      </div>
      <div>
        <div class="feed_name" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img"
                 src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> dation3388 </span>
            <span class="name_content_txt"> Jinstargram 신규가입</span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="feed_name" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="http://file3.instiz.net/data/cached_img/upload/2021/01/27/18/2ce2f41f7e9f09c0acc77faac7452dbf.jpg">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> gaoudi </span>
            <span class="name_content_txt"> IU 외 5명이 팔로우</span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="feed_name" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="https://yt3.ggpht.com/QMPufe58KvokH4KyEmwWVhNbzQX1c-CDCSvL9rbA_zJ3G4QAMMO9k_V5deoOFBMNg4P1iGH9tA=s900-c-k-c0x00ffffff-no-rj">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> CAU </span>
            <span class="name_content_txt"> IU 외 5명이 팔로우</span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="feed_name" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="https://pbs.twimg.com/media/EhzH0_DU4AEZ9yr.jpg">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> 123456789 </span>
            <span class="name_content_txt"> 그냥 추천해봄 </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
        <div class="feed_name" style="justify-content: space-between">
          <div class="profile_box">
            <img class="profile_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU">
          </div>
          <div class="name_content">
            <span class="feed_name_txt"> instiz </span>
            <span class="name_content_txt"> 애도 유명해 </span>
          </div>
          <a class="link_txt">
            팔로우
          </a>
        </div>
      </div>
      <div class="comment_box">
        <span> 인스타그램 클론 코딩 </span>
        <span> https://cholol.tistory.com </span>
        <br>
        <span> @2021 Jin.99 </span>
      </div>
    </div>
  </div>

  <!-- 모달(이미지 업로드) -->
  <div id="modal_add_feed" class="modal modal_overlay">
    <div class="modal_window">
      <div class="modal_title">
        <div class="modal_title_side"></div>
        <div> 새 게시물 </div>
        <div class="modal_title_side">
          <span id="close_modal" class="modal_close material-icons-outlined">close</span>
        </div>
      </div>

      <div class="modal_image_upload">
        <span style="text-align: center"> 사진을 여기에 끌어다 놓으세요. </span>
      </div>
    </div>
  </div>

  <!-- 모달에 이미지를 업로드하고 내용까지 올릴 수 있게 화면 변환 -->
  <div id="modal_add_feed_content" class="modal modal_overlay_content">
    <div class="modal_window" style="padding-left: 0px;">
      <div class="modal_title"  style="border-bottom: solid 1px rgb(206, 203, 203);">
        <div class="modal_title_side"></div>
        <div style="margin: 5px"> 새 게시물 </div>
        <div class="modal_title_side">
          <span id="close_modal_2" class="modal_close material-icons-outlined">close</span>
        </div>
      </div>

      <div class="modal_image_content">
        <div id="input_image" class="modal_image_upload_content">

        </div>
        <div class="modal_content_write">
          <div class="feed_name">
            <div class="profile_box">
              <img id="input_profile_image" class="profile_img" src="http://blog.jinbo.net/attach/615/200937431.jpg">
            </div>

            <span id="input_user_id" class="feed_name_txt"> jin.99 </span>
          </div>
          <div style="height: 440px">
            <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
          </div>

          <div style="width: 100%; text-align: center">
            <button id="button_write_feed" type="button" class="btn btn-primary" style="width: 268px"> 공유하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/script.js" type="text/javascript"></script>
  <!-- 제이쿼리 사용 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous">
  </script>

</body>
</html>