{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}                          <!-- CSRF 토큰 오류에서 탈출 -->

         <!-- 오류표시 Start -->
         {% if form.errors %}
         <div class="alert alert-danger" role="alert">
             {% for field, errors in form.errors.items() %}
             <strong>{{ form[field].label }}</strong>
             <ul>
                 {% for error in errors %}
                 <li>{{ error }}</li>
                 {% endfor %}
             </ul>
             {% endfor %}
         </div>
         {% endif %}
         <!-- 오류표시 End -->


        <!-- 이런 방식은 폼을 빠르게 만드느 데는 도움이 되지만 내가 원하는 디자인을 적용하기 어렵다
        -------

        {{ form.subject.label }}
        {{ form.subject(class="form-control") }}      템플릿 코드에서 부트스트랩을 사용하기 위해서는 (class="")을 사용한다

        {{ form.content.label }}
        {{ form.content(class="form-control") }}

        ------- -->

        <!-- 내가 원하는 방식으로 디자인하기 위해서는 이런 식으로 작성한다 -->
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
            <!-- subject 필드의 value값으로 form.subject.data or ''를 입력하면 이미 전송한 데이터가 다시 설정된다. -->
            <!-- 여기서 or ''은 "현재 템플릿이 GET 방식으로 요청되는 경우 기존 입력값이 없으므로(None으로 출력) 이를 방지하기 위해서" 사용 -->
            <!-- 즉, 이렇게 하면 form.subject.data에 값이 없을 때 None이 아니라 ''이 출력된다 -->
            <!-- 이 방식을 사용한다면 오류가 뜨더라도 이전까지 작성했던 내용이 사라지지 않는다 -->
        </div>

        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

<!-- "CSRF Token" 오류는 무엇일까?  -->
<!-- CSRF는 보안 관련 항목으로, form 엘리먼트를 통해 전송된 데이터가 실제 웹 사이트에서
     만들어진 데이터인지 검증하는 데 필요한 CSRF 토큰이 빠졌다는 의미 -->


     